@import "tailwindcss";
@import '../fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-buttonGreen: #00D1B2;
    --color-buttonBlack: #000000;
    --color-buttonGrey: #0000000D;
    --color-roseBackground: #FF33661A;
    --color-backgroundMint: #00D1B21A;
    --color-backgroundBabyBlue: #4285F41A;
    --color-iconGrey: #0000004D;
    --color-borderGrey: #0000001A;
}

@layer base {
    body {
        font-family: 'Gabarito', sans-serif;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    :root {
        --font-heading: 'Gabarito', sans-serif;
        --font-weight-bold: 700;
        --font-weight-medium: 500;
        --font-weight-normal: 400;
        --line-height-tight: 100%;
        --line-height-normal: 110%;
        --line-height-big: 170%;
        --letter-spacing-normal: 0%;
    }

    .heading2xl {

        font-size: 90px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .headingxl {

        font-size: 52px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .headinglg {

        font-size: 36px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .headingmd {

        font-size: 26px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .headingsm {

        font-size: 18px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .headingxs {

        font-size: 14px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    .paragraphlg {

        font-size: 20px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
        letter-spacing: var(--letter-spacing-normal);

    }

    .paragraphmd {

        font-size: 18px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
        letter-spacing: var(--letter-spacing-normal);

    }

    .paragraphsm {

        font-size: 14px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
        letter-spacing: var(--letter-spacing-normal);

    }

    .hyperlink {

        font-size: 18px;
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-big);
        letter-spacing: var(--letter-spacing-normal);
        text-decoration-line: underline;
    }

    .menu-item {
        font-size: 20px;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-normal);
    }

    p {
        margin: 0;
        padding: 0;
    }

}


@layer components {
    .my-wrapper {
        @apply px-4 sm:px-10 md:px-16 lg:px-24 xl:px-36 2xl:px-[184px];
    }
}